<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://172.20.80.51/app/bin/com.tencent.bnsm.debug.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://172.20.80.51/app/images/BscIcon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://172.20.80.51/app/images/BscIcon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.tencent.bnsm</string>
				<key>bundle-version</key>
				<string>0.7.0.3</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>for iOS</string>
				<key>title</key>
				<string>战斗吧剑灵d</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
